

td {

  padding: 25px;
  border-right: 2px solid navy;
  border-left: 2px solid navy;

}

table {
  margin-top: 50px;
  width: 100%;
}

th {
  border-bottom:  2px solid navy;
}

.navbar {
  text-align: center;
  margin: auto;
  height: 50px;
  border:  2px solid navy;
  background-color: white;
}

